<p id="error">{{errorMessage}}</p>
<p id="success" hidden></p>

<form id="newteams-form" name="newteam-form" class="newteam-form" action="/teams" method="POST">
    <div class="form-group">
        <label for="title">Team Name:</label>
        <input type="text" id="title" name="title">
    </div>

    <fieldset id="desiredRoles">
        <legend>Desired Roles</legend>

        <label for="role-top">
            Top
            <input type="checkbox" id="role-top" name="desiredRole[]" value="top">
        </label>

        <label for="role-jungle">
            Jungle
            <input type="checkbox" id="role-jungle" name="desiredRole[]" value="jungle">
        </label>

        <label for="role-mid">
            Mid
            <input type="checkbox" id="role-mid" name="desiredRole[]" value="mid">
        </label>

        <label for="role-support">
            Support
            <input type="checkbox" id="role-support" name="desiredRole[]" value="support">
        </label>

        <label for="role-adc">
            ADC
            <input type="checkbox" id="role-adc" name="desiredRole[]" value="adc">
        </label>
    </fieldset>

    <fieldset id="desiredRanks">
        <legend>Desired Ranks</legend>

        <label for="rank-iron">
            Iron
            <input type="checkbox" id="rank-iron" name="desiredRank[]" value="iron">
        </label>

        <label for="rank-silver">
            Silver
            <input type="checkbox" id="rank-silver" name="desiredRank[]" value="silver">
        </label>

        <label for="rank-gold">
            Gold
            <input type="checkbox" id="rank-gold" name="desiredRank[]" value="gold">
        </label>

        <label for="rank-platinum">
            Platinum
            <input type="checkbox" id="rank-platinum" name="desiredRank[]" value="platinum">
        </label>

        <label for="rank-emerald">
            Emerald
            <input type="checkbox" id="rank-emerald" name="desiredRank[]" value="emerald">
        </label>

        <label for="rank-diamond">
            Diamond
            <input type="checkbox" id="rank-diamond" name="desiredRank[]" value="diamond">
        </label>

        <label for="rank-master">
            Master
            <input type="checkbox" id="rank-master" name="desiredRank[]" value="master">
        </label>

        <label for="rank-grandmaster">
            Grandmaster
            <input type="checkbox" id="rank-grandmaster" name="desiredRank[]" value="grandmaster">
        </label>

        <label for="rank-challenger">
            Challenger
            <input type="checkbox" id="rank-challenger" name="desiredRank[]" value="challenger">
        </label>
    </fieldset>

    <div class="form-group">
        <label for="region">Region:</label>
        <select name="region" id="region">
            <option value="na">NA</option>
            <option value="eu">EU</option>
            <option value="kr">KR</option>
            <option value="sea">SEA</option>
            <option value="cn">CN</option>
            <option value="au">AU</option>
        </select>
    </div>

    <div class="form-group">
        <label for="description">Description:</label>
        <textarea id="description" name="description" rows="4" cols="50"></textarea>
    </div>
    <br>
    <button type="submit" id="submitButton" name="submitButton" class="new-team">Sign Up</button>
</form>

<p id="error">{{errorMessage}}</p>

<a href="/">Home Page</a>

<script type="module" src="/public/js/teams/newteams.js"></script>