<div class="introduction">
    <h1>Welcome to League Finder!</h1>
    <h2>Brought to you by: Amane Chibana, Aidan Ouckama, Eddison So, Jimmy Zhang</h2>
    <img src="https://media.discordapp.net/attachments/1338571359940382811/1372018703020986398/F-uDGi7XMAAm-rO.png?ex=68253f7d&is=6823edfd&hm=ef2100ff2f3b63a296da24a461fec53443b52bbcaa221f61f2e2e1babcab580d&=&format=webp&quality=lossless">
</div>