<h1>Sign In</h1>


<form id="signin-form" method="POST" action="/users/login">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username"/>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password"/>

        <button type="submit" id="submit_button" name="submit_button">Sign In</button>
</form>

<a href="/users/register">Click here to signup!</a>