<form id="signup-form" name="signup-form" action="/users/register" method="POST">
    <label for="firstName">First Name:</label>
    <input type="text" id="firstName" name="firstName">

    <label for="lastName">Last Name:</label>
    <input type="text" id="lastName" name="lastName">

    <label for="username">Username:</label>
    <input type="text" id="username" name="username">

    <label for="email">Email:</label>
    <input type="text" id="email" name="email">

    <label for="password">Password:</label>
    <input type="password" id="password" name="password">

    <label for="confirmPassword">Confirm Password:</label>
    <input type="password" id="confirmPassword" name="confirmPassword">

    <button type="submit" id="submitButton" name="submitButton">Sign Up</button>
</form>

<a href="/users/login">Already have an account? Click here to sign-in</a>
<a href ="/">Home Page</a>
