<p>This one I can technically without jimmy locking in but im tired :p</p>
<form action="/posts/{{personalID}}/delete" method="POST">
    <button type="submit">Delete</button>
</form>

<!-- Make a script that prevents default and changes the request from post to delete!!! -->