<form action="/users/profile/{{personalID}}/delete" id="deleteAccountForm" method="POST">
    <label for="confirm">Type your username if you are sure you want to delete your account</label>
    <input name= "confirm" id="confirm" type="text"/>
    <button type="submit">Delete</button>
</form>

<!-- Make a script that prevents default and changes the request from post to delete!!! -->
<script type="module" src="/public/js/users/deleteaccount.js"></script>