<p id = "error">{{errorMessage}}</p>
<p id = "success" hidden></p>

<form id="signin-form" class="signin-form" method="POST" action="/users/login">
        <h1>Sign In</h1>


        <label for="username">Username:</label>
        <input type="text" id="username" name="username"/>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password"/>

        <button type="submit" id="submit_button" name="submit_button">Sign In</button>
        <a href="/users/register">Click here to signup!</a>
</form>



<script type="module" src="/public/js/users/login.js"></script>
